@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body {
    font-family: 'Roboto', arial sans serif;
    font-size: 1.0rem;
    max-width: 90%;
    margin: 0 auto;
}

:root {
    --primary-color: #90e0ef;
    --secondary-color: #caf0f8;
    --accent1-color: #0077b6;
    --accent2-color: #00b4d8;

    --heading-font: 'roboto', arial;
    --paragraph-font: 'Roboto', Arial, sans-serif;
    --nav-background-color: #caf0f8;
    --nav-link-color: #90e0ef;
    --nav-hover-link-color: #0077b6;
    --nav-hover-background-color: #00b4d8;
}

* {
    margin: 0;
    padding: 0;
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--heading-font);
    color: var(--primary-color);
}

p {
    padding: 0;
}

header {
    background-color: var(--accent1-color);
    margin: 0 auto;
    display: grid;
}

nav {
    font-size: 1rem;
    text-align: left
}

nav a {
    color: var(--nav-link-color);
    padding: 1rem;
    text-decoration: none;
}

.hero image {
    background-color: #8ea9df;
    background-image: url("../images/littlecolorado-wide.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    padding-top: 200px;
    padding-bottom: 200px;
}

 .hero h1 {
    color: black;
    position: absolute;
    text-align: center;
    top: 10px;
    left: 0;
    right: 0;
    padding: 50px;
    margin: 0;
    box-sizing: border-box;
}

.hero article {
    position: absolute;
    background-color: rgba(19, 196, 228, 0.5);
    text-align: left;
    width: 70%;
    padding: 20px;
    left: 80%;
    margin-top: -40%;
    margin-left: -65%;
    color: white;
}

.hero article img {
    float: right;
    margin-left: 10px;
    width: 200px;
    height: auto;
    padding: 3px;
}

section h2 {
    text-align: left;
    padding: 1rem;
    max-width: 100%;
}

footer p {
    text-align: left;
    justify-self: left;
    margin: 0;
}