@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
    --primary-color: #caf0f8;
    --secondary-color: #90e0ef;
    --accent1-color: #0077b6;
    --accent2-color: #00b4d8;

    --heading-font: 'roboto', arial;
    --paragraph-font: 'roboto', arial, sans-serif;
    --nav-background-color: #caf0f8;
    --nav-link-color: #90e0ef;
    --nav-hover-link-color: #0077b6;
    --nav-hover-background-color: #00b4d8;
}

header {
    margin: 1rem auto;
    display: grid;
    grid-template-columns: 150px 5fr 2fr;
    align-items: center;
    border-bottom: 1px solid #ccc;
    max-width: 1000px;
 }

header img {
    margin: 1rem;
    width: 200px;
    height: auto;
}

h1 {
    font-size: 2rem;
    font-family: Roboto, Arial, sans-serif;
}

nav {
    font-size: 1.5rem;
    text-align: right;
}

.navigation {
    display:flex;
}

.navigation a {
    display: block;
    color: var(--nav-link-color);
    padding: 20px;
    text-decoration: none;
}

body {
    max-width: 840px;
    margin: 0 auto;
    font-size: 16px;
}

.index {
    background-image: url("images/back2.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

header {
    background-color: var(--accent2-color);
}

.section-container {
    padding: 5rem 1rem;
    max-width: 840px;
    margin: auto;
    justify-content: flex-start;
}

.section title {
    font-size: 2rem;
    font-weight: 500;
    color: var(--primary-color);
    margin-bottom: 1rem
}

.section subtitle {
    font-size: 1rem;
    font-style: italic;
    color: var(--primary-color);
    margin-bottom: 5rem;
    text-align: center;
}

.header-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    color: var(--accent2-color);
    align-items: flex-start;
    max-width: 400px;
}

.header-content p {
    text-align: center;
    color: #000;
}

.hero {
    border: 0px solid red;
    position: relative;
}

.hero img {
    width: 100%;
    margin-left: 5px;
}

.hero article img {
    width: 150px;
    float: right;
}

article {
    position: absolute;
    top: 60px;
    width: 85%;
    left: 0;
    right: 0;
    margin: 0 auto;
    background-color: rgba(244, 244, 244, 0.6);
    font-weight: 1000;
    padding: 1rem;
} 

h1 {
    font-size: 2rem;
    font-family:'Roboto', arial sans-serif; 
    text-align: center;
    color:  #caf0f8;
}

.hero h1 {
    color:  #caf0f8;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    text-align: center;
}

.flexbox-container {
    display: flex;
}

.flexbox-item {
    width: 200px;
    margin: 10px;
    border: 3px solid #333;
    background-color: #dfdfdf;
}

.flexbox-item-1 {
    min-height: 100px;
    flex-grow: 2;
    border-color: #000;
}

.flexbox-item-1 p {
    padding: 10px;
}

.flexbox-item-2 {
    min-height: 280px;
    background-color: #caf0f8;
    border-color: #000;
    text-align: center;
}

.flexbox-item-2 h3 {
    text-align: center;
}

.flexbox-item-2 p {
    padding: 10px;
}

.flexbox-item-3 {
    max-height: 300px;
    flex-grow: 2;
    border-color: #000;
}

.flexbox-item-3 p {
    padding: 10px;
}

figure {
    border: thin #c0c0c0;
    display: flex;
    flex-flow: column;
    padding: 5px;
    max-width: 120px;
    margin: auto;
}

figure img {
    max-width: 120px;
    max-height: 150px;
}

figcaption {
    background-color: #222;
    color: #fff;
    font: italic smaller san-serif;
    padding: 3px;
    text-align: center;
}

.grid-container {
    max-width: 840px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 5px;
    padding: 8px;
}

.grid-items {
    background-color: #dcebf8;
    border: 1px solid black;
    padding: 20px;
    font-size: 30px;
    text-align: center;
}

h2 {
    color: black;
}

footer {
    max-width: 840px;
    left: 0;
    right: 0;
    background: #00b4d8;
    height: auto;
    width: 100vw;
    font-family: "roboto";
    padding-top: 20px;
    color: #fff;
}

.footer-content p {
    max-width: 500px;
    margin: 30px auto;
    line-height:28px;
    font-size: 18px;
}

.sociallinks {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: right; 
    margin: 1rem 0 3rem 0;
    padding-inline: 35px;
}

.sociallinks img {
    width: 60px;
    padding: 5px
}

.sociallinks a {
    text-decoration: none;
    color: #fff;
}

.footer-bottom {
    max-width: 840px;
    background: #000;
    width: 100vw;
    padding: 20px 0;
    text-align: center;
}

.footer-bottom p {
    font-size: 18px;
    word-spacing: 2px;
    text-transform: capitalize;
}

.footer-bottom span {
    text-transform: uppercase;
    opacity: .4;
    font-weight: 200;
}
